<div class="main-wrap">
  <div class="links" *ngIf="auth.isAuthenticated()">

    <div class="admin-logo">
      <fa-icon class="fa-1x admin-icon" [icon]="tools"></fa-icon>
      Admin Dashboard
    </div>

    <ul class="list-links">
      <li>
        <a [routerLink]="['/admin', 'slider']" class="link" routerLinkActive="active-route">
          <fa-icon class="fa-1x icons" [icon]="slideIcon"></fa-icon>
          Edit main page
        </a>
      </li>
      <li>
        <a [routerLink]="['/admin', 'posts']" class="link" routerLinkActive="active-route">
          <fa-icon class="fa-1x icons" [icon]="post"></fa-icon>
          Posts
        </a>
      </li>
    </ul>

    <button class="btn-logout" (click)="logout($event)">
      <fa-icon class="fa-1x icons" [icon]="settings"></fa-icon>
      Log out
    </button>
  </div>
  <div class="components">

    <router-outlet></router-outlet>
  </div>
</div>

