.admin-logo {
  height: 130px;
  color: #A4A6B3;
  display: flex;
  align-items: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
}

.admin-icon {
  color: #3751FF;
  margin-right: 10px;
}

ul > li {
  list-style: none;
}
.link {
  color: #A4A6B3;
  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.main-wrap {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 255px;
  height: 100%;
  background-color: #161616;
  position: fixed;
  border-right: 1px solid rgba(223, 224, 235, .1);
}

.list-links {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000000;
}

.list-links > li {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 56px;
}

.icons {
  margin: 0 25px 0 32px;
}

.components {
  width: 100%;
  margin-left: 255px;
}

/*BTN-LOGOUT*/
.btn-logout {
  display: flex;
  align-items: center;
  width: 100%;
  height: 72px;
  padding: 0;
  outline: none;
  border: none;
  background-color: #161616;
  color: #A4A6B3;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  border-top: 1px solid rgba(223, 224, 235, .1);;
}

.btn-logout:hover {
  cursor: pointer;
}

.active-route {
  color: #DDE2FF;
  background-color: #212122;
  border-left: 1px solid #DDE2FF;
}
