<div class="wrap">

  <div class="name-page"><h2>Edit main page/</h2></div>

  <flash-messages></flash-messages>

  <div class="block">
    <!-- LEFT SIDE -->
    <div class="left-side sides">

      <div class="img">
        <div class="block-change-text">

          <div class="carousel carousel-text">
            <div class="slide-text">
              <p class="block-change-text-p">{{ exsText ? exsText : 'example' }}</p>
            </div>
          </div>

        </div>

        <div class="carousel img-slider">
          <div class="slide">
            <div class="text-block">
              <h5>{{ mainPageObj.mainText.firstBlock ? mainPageObj.mainText.firstBlock : 'example text' }}</h5>
              <h1>{{ mainPageObj.mainText.secondBlock ? mainPageObj.mainText.secondBlock : 'your text' }}</h1>
            </div>
            <img class="slide-img" [src]="downloadUrl ? downloadUrl : placeholder">
          </div>
        </div>
      </div>

      <div class="example-text-block">
        <div class="counter">
            <div class="slide-text">
              <p class="counter-number">1</p>
            </div>
            <div class="slide-text">
              <p class="counter-number">2</p>
            </div>
        </div>
        <div class="text-left-side">
          <p>{{ mainPageObj.description ? mainPageObj.description : 'In this block will be show text which your type in this area. The recommend numbers of symbol are 350.' }}</p>
        </div>
        <div class="buttons">
          <button [disabled] class="button">pre</button>
          <span id="line-button"></span>
          <button [disabled] class="button">nxt</button>
        </div>
      </div>
    </div>

    <!-- RIGHT SIDE -->
    <div class="right-side sides">

      <div class="name-block">
        <h2>Blocks</h2>
      </div>

      <div class="text-input-box">
        <form [formGroup]="formMainPage" (ngSubmit)="updateMainObj()">
          <div class="block-icon">
            <fa-icon class="fa-1x fa-icon" [icon]="text"></fa-icon>
            <h1 class="admin-text name-section">Set main text</h1>
          </div>
          <div class="form-control main-text-slider-control">
            <div class="main-form-block" id="first-text-input">
              <label for="first-block">First block:</label>
              <input id="first-block"
                     formControlName="firstTextBlock"
                     name="first-block-input"
                     placeholder="example text"
                     type="text" class="inputs"
                     value="{{ mainPageObj.mainText.firstBlock }}"
                     (keyup)="exsFunc($event)"
              >
            </div>
            <div class="main-form-block">
              <label for="second-block">Second block:</label>
              <input id="second-block"
                     formControlName="secondTextBlock"
                     placeholder="your text" type="text"
                     class="inputs"
                     value="{{ mainPageObj.mainText.secondBlock }}"
                     (keyup)="exsFunc($event)"
              >
            </div>
            <button type="submit" class="send-btn btn-update-text">Update</button>
          </div>
        </form>
      </div>

      <div class="text-input-box">
        <form [formGroup]="formSlider" (ngSubmit)="uploadSlide()">
          <div class="block-icon">
            <fa-icon class="fa-1x fa-icon" [icon]="img"></fa-icon>
            <h1 class="admin-text name-section">Add Slider</h1>
          </div>
          <div class="row-block">
            <div class="form-control">
              <div class="main-form-block">
                <label for="text-slider-form">Text slider:</label>
                <input id="text-slider-form" formControlName="textSlide" placeholder="example" type="text" class="inputs" (keyup)=exsFunc($event)>
                <button [disabled]="formSlider.invalid || !fullInput" type="submit" class="send-btn">Update</button>
              </div>

              <span class="error-block" *ngIf="formSlider.get('textSlide').touched && formSlider.get('textSlide').invalid">
                <small class="error-message" *ngIf="formSlider.get('textSlide').errors.required">
                  Can't be empty!
                </small>
                <small class="error-message" *ngIf="formSlider.get('textSlide').errors.minlength">
                  Min length of text 3 symbols.
                </small>
              </span>
            </div>

            <label class="file-upload">
              <div class="img-example" *ngIf="downloadUrl">
                <img [src]="downloadUrl">
              </div>
              <fa-icon class="fa-2x icon" [icon]="image"></fa-icon>
              <input (change)="upload($event)" type="file" accept="*.png.jpg">
            </label>
          </div>

        </form>
      </div>

      <div class="text-input-box">
        <form [formGroup]="formMainPage" (ngSubmit)="updateMainObj()">
          <div class="block-icon">
            <fa-icon class="fa-1x fa-icon" [icon]="description"></fa-icon>
            <h1 class="admin-text name-section">Description</h1>
          </div>
          <textarea (keyup)="exsFunc($event)" formControlName="textareaDescription" class="textarea" name="" id="" cols="50" rows="5" placeholder="Write description here..."></textarea>
          <button type="submit" class="send-btn btn-update-text">Update</button>
        </form>
      </div>

      <div class="text-input-box">
        <form [formGroup]="formMainPage" (ngSubmit)="updateLinks()">
          <div class="block-icon">
            <fa-icon class="fa-1x fa-icon" [icon]="social"></fa-icon>
            <h1 class="admin-text name-section">Social links</h1>
          </div>
          <div class="main-social-block">
            <div class="main-form-block social-links">
              <label for="instagram">Instagram:</label>
              <label for="telegram">Telegram:</label>
              <label for="facebook">Facebook:</label>
            </div>
            <div class="inputs-main-block">
              <div class="margin-block">
                <input id="instagram"
                       formControlName="instagramControl"
                       placeholder="Set link for instagram..."
                       value="{{ mainPageObj.links.instagram }}"
                       type="text"
                       class="inputs inputs-width"
                       (keyup)="setLinks($event)"
                >
                <a class="btn-check" target="_blank" href="{{ mainPageObj.links.instagram }}">Check</a>
              </div>
              <div class="margin-block">
                <input id="telegram"
                       formControlName="telegramControl"
                       placeholder="Set link for telegram..."
                       value="{{ mainPageObj.links.telegram }}"
                       type="text"
                       class="inputs inputs-width"
                       (keyup)="setLinks($event)"
                >
                <a class="btn-check" target="_blank" href="{{ mainPageObj.links.telegram }}">Check</a>
              </div>
              <div class="margin-block">
                <input id="facebook"
                       formControlName="facebookControl"
                       placeholder="Set link for facebook..."
                       value="{{ mainPageObj.links.facebook }}"
                       type="text"
                       class="inputs inputs-width"
                       (keyup)="setLinks($event)"
                >
                <a class="btn-check" target="_blank" href="{{ mainPageObj.links.facebook }}">Check</a>
              </div>
            </div>
          </div>
          <div class="form-control main-text-slider-control">
            <button type="submit" class="send-btn btn-update-text">Update</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
